<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image--><%= image_tag "locateabrewerylogo.png", class: 'logo-homepage' %>
    <!-- Masthead Heading-->

    <h1 class="masthead-heading mb-0">Locate-A-Brewery</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-beer"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="pre-wrap masthead-subheading font-weight-light mb-0">Locate Any Brewery Now!</p>
  </div>
</header>
<!-- Locate-->
<section class="page-section portfolio" id="locate">
  <div class="container">
    <div class="col-md-12" style="text-align: center;padding-bottom: 5%;">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=locateabrewer-20&marketplace=amazon&amp;region=US&placement=B012HRGN1I&asins=B012HRGN1I&linkId=92a847944659c581fb7b73e89f11d3c2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
      </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=locateabrewer-20&marketplace=amazon&amp;region=US&placement=B00AC783DW&asins=B00AC783DW&linkId=a1d3050b29a3b7440e4b15a4804c2411&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
      </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=locateabrewer-20&marketplace=amazon&amp;region=US&placement=B09DSSMJFM&asins=B09DSSMJFM&linkId=6cdad930fa55461748cc8c583236fe2b&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
      </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=locateabrewer-20&marketplace=amazon&amp;region=US&placement=B007SVEE6U&asins=B007SVEE6U&linkId=901626c550155b00d0f870e056fa755f&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
      </iframe>
    </div>
  </br>
    <!-- Portfolio Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Locate</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-search"></i></div>
      <div class="divider-custom-line"></div>
    </div>
      <%= form_with(url: "/brewery_search", method: :post, class: "row g-3", local: false) do |f| %>
      <div class="col-md-8">
        <h6>Enter a Location:</h6>
        <%= f.text_field :query, id: "autocomplete", class: "form-control form-control-md" %>
      </div>
      <div class="col-md-4">
        <h6>Sort by:</h6>
        <%= f.select :sort_by,
                     [["Best Match (Default)", "best_match"], ["Rating", "rating"], ["Review Count", "review_count"], ["Distance", "distance"]],
                     {selected: "best_match" },
                     { :class => "form-select form-select-lg" } %>

        </br>
      </div>
        <%= f.submit "Locate a Brewery!", class: "btn btn-primary btn-lg btn-block"%>
      <% end %>
    <div id="brewery-section"></div>
    </div>
  </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-2 ml-auto">

      </div>
      <div class="col-lg-8 ml-auto" style="text-align: center">
        <p class="pre-wrap lead">Welcome to Locate A Brewery! This website was created so you can easily find the closest brewery near you. Simply type in a address above and start searching for your next brew!</p>
      </div>
      <div class="col-lg-2 ml-auto">

      </div>
    </div>
  </div>
</section>
<section class="page-section" id="contact">
  <div class="container">
    <!-- Contact Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-beer"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Content-->
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
          <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:support@locateabrewery.com">support@locateabrewery.com</a>
        </div>
      </div>
    </div>
  </div>
</br>
</br>
  <div class="col-md-12" style="text-align: center;padding-bottom: 5%;">
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=locateabrewer-20&marketplace=amazon&amp;region=US&placement=B09KXR6M6R&asins=B09KXR6M6R&linkId=364883b04ab01c9711a9e5d2f9cd21af&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=locateabrewer-20&marketplace=amazon&amp;region=US&placement=B07Q1KF3JS&asins=B07Q1KF3JS&linkId=8732b7ec61e23bb24d65d45bb2c267ae&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=locateabrewer-20&marketplace=amazon&amp;region=US&placement=B0713SJZV6&asins=B0713SJZV6&linkId=1cd6caec28d64f757ba8b59717fc432d&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=locateabrewer-20&marketplace=amazon&amp;region=US&placement=B07YZDW5M2&asins=B07YZDW5M2&linkId=0a1873383880e272a357912305d494df&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
  </div>
</section>