<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image--><%= image_tag "locateabrewerylogo.png", class: 'logo-homepage' %>
    <!-- Masthead Heading-->

    <h1 class="masthead-heading mb-0">Locate-A-Brewery</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-beer"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="pre-wrap masthead-subheading font-weight-light mb-0">Locate Any Brewery Now!</p>
  </div>
</header>
<!-- Locate-->
<section class="page-section portfolio" id="locate">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Locate</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-search"></i></div>
      <div class="divider-custom-line"></div>
    </div>
      <%= form_with(url: "/brewery_search", method: :post, class: "row g-3", local: false) do |f| %>
      <div class="col-md-8">
        <h6>Enter a Location:</h6>
        <%= f.text_field :query, id: "autocomplete", class: "form-control form-control-md" %>
      </div>
      <div class="col-md-4">
        <h6>Sort by:</h6>
        <%= f.select :sort_by,
                     [["Best Match (Default)", "best_match"], ["Rating", "rating"], ["Review Count", "review_count"], ["Distance", "distance"]],
                     {selected: "best_match" },
                     { :class => "form-select form-select-lg" } %>

        </br>
      </div>
        <%= f.submit "Locate a Brewery!", class: "btn btn-primary btn-lg btn-block"%>
      <% end %>
    <div id="brewery-section"></div>
    </div>
  </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-2 ml-auto">

      </div>
      <div class="col-lg-8 ml-auto" style="text-align: center">
        <p class="pre-wrap lead">Welcome to Locate A Brewery! This website was created so you can easily find the closest brewery near you. Simply type in a address above and start searching for your next brew!</p>
      </div>
      <div class="col-lg-2 ml-auto">

      </div>
    </div>
  </div>
</section>
<section class="page-section" id="contact">
  <div class="container">
    <!-- Contact Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-beer"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Content-->
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
          <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:support@locateabrewery.com">support@locateabrewery.com</a>
        </div>
      </div>
    </div>
  </div>
</section>